<div class="containers">
  <div class="containers__container">
    <p class="containers__container_title">Signals</p>

    <div class="containers__container__counter">
      <p class="containers__container__counter_current">
        Counter: <b>{{ counter() }} </b>
        <span>(Signal)</span>
      </p>

      <p class="containers__container__counter_current">
        Counter x Counter x Counter: <b>{{ tripleCounter() }} </b>
        <span>(Computed)</span>
      </p>

      <div class="containers__container__counter__input">
        <input
          #numberInput
          type="number"
          class="containers__container__counter__input_text"
        />

        <button
          class="containers__container__counter__input_button"
          (click)="updateCounter(numberInput.value)"
        >
          update
        </button>
      </div>

      <p class="containers__container__counter__logs">
        ----------- (effect)
        <br>
        Signals were updated on {{ lastUpdatedAt | date: 'medium' }}
        <br>
        {{ lastUpdatedMessage }}
      </p>
    </div>
  </div>
</div>

<a href="https://github.com/willaug" target="_blank" class="credits">
  @willaug
</a>
