.containers {
  width: 1280px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;

  &__container {
    padding: 50px;
    border-radius: 30px;

    &_title {
      font-size: 70px;
      font-weight: 300;
      color: #fb7185;
      text-align: center;
      margin-bottom: 40px;
    }

    &__counter {
      font-size: 23px;

      span {
        color: #94a3b8;
      }

      &__input {
        gap: 10px;
        display: flex;
        margin-top: 20px;
        flex-direction: row;
        align-items: center;
        height: 40px;

        &_text {
          width: 70px;
          height: 60px;
          border: none;
          outline: none;
          font-size: 16px;
          text-align: center;
          border-radius: 5px;
          background-color: #fecaca;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        &_button {
          height: 60px;
          border: none;
          font-size: 20px;
          font-weight: 500;
          color: #ffffff;
          cursor: pointer;
          border-radius: 5px;
          padding: 0px 30px;
          background-color: #fb7185;
          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: #f43f5e;
          }
        }
      }

      &__logs {
        margin-top: 45px;
        color: #94a3b8;
      }
    }
  }
}

.credits {
  left: 30px;
  bottom: 30px;
  position: fixed;
  font-size: 15px;
  color: #606060;
  font-weight: 400;
  text-decoration: none;
}
